doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Thangtran.se@gmail.com

        link(rel='icon', type='image/x-icon', href='assets/img/thangtranse.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Clarence Taylor
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/thangtranse.png', alt='thangtran.se@gmail.com')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Trần Minh
                        span.text-primary Thắng 
                    .subheading.mb-5
                        | 903/06 Tran Xuan Soan · District 7 · Sai Gon City, Phone 0989900814 · 
                        a(href='mailto:thangtran.se@gmail.com') thangtran.se@gmail.com
                    p.lead.mb-5
                        | .
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/tran-thang-a83864168/', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/thangtranse', target="_blank")
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/TranThang365', target="_blank")
                            i.fab.fa-twitter
                        a.social-icon(href='https://www.facebook.com/thangtranse', target="_blank")
                            i.fab.fa-facebook-f

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Industrial University of Ho Chi Minh City
                            .subheading.mb-3 Software Engineering
                            div Computer Science - Web Development Track
                            p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary 2014 - 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Computer Science Center University of Science
                            .subheading.mb-3 
                            p Certification “Website design technician” and “Android Developer”
                        .flex-shrink-0
                            span.text-primary 2016 - 2017

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-yarn                     
                    
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-wordpress                        
                    
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-docker                                             

                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Software Architecture
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Full Stack Developer
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum
                        li
                            span.fa-li
                                i.fas.fa-check
                            | DevOps

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Software Architecture - FPT Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Artificial Intelligence (AI) course - FPT Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | ITIL Foundation V3 - SaiGonCTT Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Website Design Technician - Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Android Developer - Certification
                       

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')